/* general
--------------------------------------------------------------*/

:root {
    --form-width: clamp(14rem, 80%, 40rem);
}

@media screen {
    :root{
        --form-width: clamp(5rem, 80%, 40rem);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}

body {
    margin: 0;
    /* background: linear-gradient(darkgray, white, darkgray); */
    background-image: url('/images/backgrounds/bg2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui;
}

.bold{
    font-weight: bold;
}

input[type='button'] {
    cursor: pointer;
}

input[type='button']:hover {
    background-color: #ccc;
}



/* page title
--------------------------------------------------------------*/

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-title>h1 {
    text-transform: uppercase;
}




/* form
--------------------------------------------------------------*/

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-width: 500px; */
}

form, .form-size{
    width: var(--form-width);
}

.form-step {
    border: 2px groove royalblue;
    min-inline-size: unset;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
    margin-bottom: 2.5rem;
    backdrop-filter: blur(.5rem);
}

.form-step:last-of-type {
    margin-bottom: 0;
}

.form-step>:last-child {
    margin-bottom: 0;
}

.step-title {
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: underline 0.1em gold;
    font-size: 1.5em
}




/* form-buttons
--------------------------------------------------------------*/

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.form-buttons>button {
    text-align: center;
    position: relative;
    margin: 0.5em 0;
    padding: .4em 1.2em;
    font-size: 1.5rem;
    border-radius: .5em;
    border: none;
    background-color: rgb(123, 190, 241);
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    overflow: hidden;
    color: #333;
}

.form-buttons>#clear {
    background-color: rgb(241, 154, 123);
}


.form-buttons>button:hover {
    transform: scale(1.1);
}

.form-buttons>button:hover::after,
.form-buttons>button:focus-visible::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    background: linear-gradient(90deg, transparent, rgb(255, 255, 255, .5), transparent);
    animation: shine 675ms ease-in-out forwards;
}

.form-buttons>button:focus-visible::after {
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes shine {
    from {
        left: -15%;
    }

    to {
        left: 100%;
    }
}




/* table
--------------------------------------------------------------*/

table:not(:last-child) {
    margin-bottom: 1.25rem;
}

table input,
table select {
    border: 1px solid #333;
    border-radius: 0.25em;
    font-size: 1rem;
    height: 2.5em;
    width: 100%;
    text-align: center;
}

.first-short td:first-child,
.first-short td:first-child>*,
.first-short th:first-child,
.last-short td:last-child,
.last-short td:last-child>*,
.last-short th:last-child {
    width: 6em;
}

td {
    align-content: center;
    text-align: center;
    align-items: center;
}

.table-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.table-buttons>button {
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: 0.1em solid skyblue;
    background-color: #ddd;
    font-size: .9rem;
}

.table-buttons>button:hover {
    background-color: #fff;
    cursor: pointer;
}




/* product_dependencies
--------------------------------------------------------------*/

.product_dependencies:not(.active) {
    display: none;
}

.product_dependencies.active {
    position: fixed;
    inset: 0 0 0 0;
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 5;
}

.product_dependencies.active>.form-step {
    position: fixed;
    width: var(--form-width);
    /* background: radial-gradient(white, orange); */
    background-image: url('/images/backgrounds/starsRed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: -5rem; */
    top: 50%;
    left: 50%;
    height: 85%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.product_dependencies.active #close {
    position: fixed;
    top: 7.5%;
    left: calc(50% + var(--form-width)/2);
    font-size: 3rem;
    cursor: pointer;
    transform: translate(-150%, 0);
    z-index: 1;
}

.demands-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 0.25rem;
    min-width: min(var(--form-width), 100%);
}
.demands-grid input[disabled]{
    text-align: center;
}




/* features
--------------------------------------------------------------*/

.bouncing-text {
    display: flex;
    --speed: 1s
}

.bouncing-text:hover .letter {
    animation: bounce var(--speed, 1s) ease var(--delay, 0s);
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-0.3em);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    58% {
        transform: scale(1, 1) translateY(-0.1em);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.select-no-arrow {
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}




/* inputline, input-group
--------------------------------------------------------------*/

.inputline {
    display: flex;
    flex-direction: row;
    gap: 0.2rem
}

.inputline .input-group {
    margin-bottom: 0;
}

.input-group {
    --height:2.5em;
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--height) / 2);
    gap: 0.25em;
}

.input-group:has(.input-group){
    margin-bottom:0
}

.input-group>label {
    padding-left: 0.125em;
    font-weight: bold;
    font-size: 1em;
}

.input-group>input {
    border: 1px solid #333;
    border-radius: 0.25em;
    font-size: 1rem;
    height: var(--height);
    padding: 0.5em .75em;
    width: 100%;
}

.input-group>label.center {
    text-align: center;
}



/* input-optional
--------------------------------------------------------------*/

.input-optional {
    --height:2.5em;
    display: flex;
    height: var(--height);
    flex-direction: row;
}

.input-optional>.checkmark {
    height: var(--height);
    aspect-ratio: 1;
    border: 1px solid #333;
    border-radius: 0.25em 0 0 0.25em;
    border-right: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark>input[type='checkbox'] {
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    height: 100%;
    aspect-ratio: 1;
}

.checkmark::before {
    content: var(--content);
    position: absolute;
    height: var(--height);
    aspect-ratio: 1;
    color:black;
    text-align: center;
    line-height: var(--height);
    background-color: var(--bgColor);
    border-radius: inherit;
}

.checkmark:has(input[type='checkbox']:focus-visible)::before{
    outline: -webkit-focus-ring-color auto 1px;
    outline: -moz-mac-focusring auto 1px;
}

.checkmark:has(input:not(:checked))::before {
    --content: "\2715";
    --bgColor: rgb(200,0,0,0.2)
}

.checkmark:has(input:checked)::before {
    --content: "\2713";
    --bgColor: rgb(0,0,200,0.2)
}

.input-optional>input:not([type='checkbox']) {
    border: 1px solid #333;
    padding: 0.5em .75em;
    font-size: 1rem;
    border-radius: 0 0.25em 0.25em 0;
    flex: 1;
}



/* input-select
--------------------------------------------------------------*/

.input-select {
    --height:2.5em;
    display: flex;
    height: var(--height);
    flex-direction: row;
}

.input-select>input {
    border: 1px solid #333;
    padding: 0.5em .75em;
    font-size: 1rem;
    height: var(--height);
    border-radius: 0.25em 0 0 0.25em;
    flex: 1;
}

.input-select>select {
    padding: 0.5em .75em;
    border: 1px solid #333;
    font-size: 1rem;
    border-left: none;
    border-radius: 0 0.25em 0.25em 0;
}

.input-select>select:not(select[disabled]) {
    cursor: pointer;
}



/* input[range]
--------------------------------------------------------------*/

input[type="range"] {
    border: unset;
    position: relative;
    padding: 0;
}

input[type="range"]:hover::after {
    content: attr(strValue);
    color: black;
    position: absolute;
    bottom: -20px;
    border: .2em groove royalblue;
    border-radius: .4em;
    left: calc(var(--value)*1%);
    transform: translateX(-.56em);
}



/* answer
--------------------------------------------------------------*/

.answer {
    display: block;
    margin-bottom: 5rem;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: none;
}

.answer :is(th, td) {
    border: 1px solid black;
    min-width: 6rem;
    padding: 1.5rem 0;
}

.answer table {
    border-collapse: collapse;
    width: var(--form-width);
}

.answer .overall-dep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.answer .overall-dep h3 {
    margin-bottom: 0;
}

.answer .resultContainer{
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-size: 1.25rem;
    min-width: 30rem;
    padding: 1rem 4rem;
    border:1px solid rgb(129, 129, 129);
    margin-bottom: 1rem;
    backdrop-filter: blur(.5rem)
}

hr {
    margin-top: 5rem;
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    position: relative;
    width: 100%;
}

hr:after {
    content: "ยง";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1em;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: rgb(212, 212, 212);
    transform: translate(-50%, 40%);
}



/* footer
--------------------------------------------------------------*/

footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(187, 192, 202) 60%, transparent);
    color: #4a4a4a;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px !important;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

footer .made_by {
    font-size: 1em !important;
    margin-bottom: 1em;
    margin-top: 1.5rem;
}

footer .ver {
    text-size-adjust: 100%;
    font-size: .75rem !important;
}

footer .ver::before{
    content:"Version "
}

footer .ver::after{
    content:"2.0.0"
}